:root {
  --gray-color: #171624;
  --red-color: #e0113f;
  --green-color: #27a844;
  --lightblue-color: #1363be;
  --white-color: #6c747e;
  --yellow-color: #dfb22e;
  --blue-color: #8c6fab;
  --pink-color: #f7d7da;
  --orange-color: #ff841a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  outline: none;
}

html {
  scroll-behavior: smooth;
  font-size: 2vh;
}

body {
  background-color: var(--gray-color);
}

/* utility classes */

.footer-fix {
  min-height: 100vh;
  height: 100vh;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  cursor: pointer;
}

.navbar {
  color: var(--lightblue-color);
  display: flex;
  width: 100%;
  padding: 1rem 10rem;
  justify-content: space-between;
}

.navbar img {
  width: 4rem;
  animation: rotation 4s infinite linear;
}
.navbar h1 {
  color: var(--white-color);
  font-size: 2rem;
  margin-left: 0.6rem;
}

.mode-btn {
  padding: 0px;
  background-color: transparent;
  width: 10px;
  border: none;
}
@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

.sub-logo {
  color: var(--lightblue-color);
  font-weight: 500;
}

.link-list {
  list-style: none;
}

.links {
  text-decoration: none;
  color: var(--white-color);
  font-weight: bold;
  font-size: 1.4rem;
  margin: 0rem 2rem;
}
.links:hover {
  color: var(--lightblue-color);
}

.icon-item {
  transform: scale(1.3);
}

.main-dashboard {
  text-align: center;
  position: relative;
}
.welcome-logo {
  width: 2.1rem;
}
.welcome-div {
  width: 100%;
  padding: 2rem 2rem;
  height: 18rem;
}
.welcome-heading {
  color: var(--red-color);
  font-size: 2.7rem;
  margin-bottom: 0.5rem;
}
.welcome-div > p {
  color: var(--lightblue-color);
  font-size: 1.3rem;
  margin: 0.1rem 0rem;
}
.smalldivcontainer {
  margin: 0rem 3rem;
  flex-wrap: wrap;
}

.smalldata-box {
  background-color: var(--green-color);
  margin: 1rem 1rem;
  width: 25rem;
  height: 7rem;
  font-size: 0.9rem;
  border-radius: 0.5rem;
  color: white;
  text-align: unset;
}
i {
  font-size: 2rem;
  margin-right: 0.5rem;
}
.smalldata-box:hover {
  transform: scale(1.05);
  transition: transform 0.5s 0s ease-in-out;
  box-shadow: 0.1px 0.1px 4px 0.01px white;
}
.update-div {
  width: 100%;
  background-color: rgba(255, 188, 188, 0.356);
  padding: 0.5rem 0rem;
  color: #551419;
}

.statewise-container {
  padding: 1rem 0rem;
}
.statewise-container > h1 {
  font-size: 1.8rem;
  width: 100%;
  padding: 1rem 0rem;
  margin: 2rem;
  color: #551419;
  background-color: rgba(255, 188, 188, 0.356);
}
.statewise-box {
  flex-wrap: wrap;
  margin: 0rem 4rem;
}

.statewise-div-box {
  background-color: #cbe5fece;
  margin: 1rem;
  padding: 2rem 0.2rem;
  border-radius: 0.5rem;
  width: 20rem;
  justify-content: center;
  align-items: center;
  height: 16rem;
  /* text-shadow: .1px .1px 1px black; */
}

.statewise-heading {
  color: #2f5f90;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.statewise-heading2 {
  color: var(--orange-color);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.statewise-heading3 {
  color: var(--green-color);
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}
.statewise-heading4 {
  color: var(--red-color);
  font-size: 1.5rem;
}

.contact-div {
  /* background-color: var(--orange-color); */
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5rem 0rem;
}
.contact-box {
  /* background-color: #27a844; */
  width: 50%;
  padding-left: 10rem;
}

.contact-heading,
.about-heading {
  font-size: 2.3rem;
  color: var(--lightblue-color);
  margin-bottom: 1.3rem;
}
.contact-box form {
  width: 100%;
  align-items: flex-start;
  /* background-color: var(--yellow-color); */
}

.form-items {
  width: 100%;
  align-items: flex-start;
}
.form-items > input,
textarea {
  width: 80%;
  font-size: 1.2rem;
  padding: 0.6rem;
  background-color: var(--pink-color);
  color: var(--lightblue-color);
  margin: 0.6rem 0rem;
  border-radius: 0.5rem;
  border: none;
}
.form-items > textarea {
  resize: none;
}

.contact-btn {
  color: white;
  width: 80%;
  margin: 1rem 0rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  font-weight: 600;
  background-color: var(--lightblue-color);
  padding: 0.5rem;
  border: 2px solid var(--lightblue-color);
  cursor: pointer;
}
.contact-btn:hover {
  background-color: transparent;
  color: var(--lightblue-color);
  border: 2px solid var(--lightblue-color);
}

.contact-icon-box {
  width: 50vw;
  color: var(--lightblue-color);
  /* background-color: var(--yellow-color); */
  height: 70vh;
}
.contact-icon-box i {
  font-size: 14rem;
}

.about-div {
  /* background-color: var(--green-color); */
  justify-content: flex-start;
  align-items: center;
  padding-top: 5rem;
  color: var(--lightblue-color);
}

.about-desc {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}
.about-heading {
  text-align: center;
}
.about-sm-box {
  flex-wrap: wrap;
}
.about-sm-box a:hover {
  transform: translateY(-10px);
  transition: transform 0.3s 0s ease-in-out;
}

.sm-icon {
  transform: scale(2);
  margin: 2rem 2rem;
  color: var(--lightblue-color);
}

.error-div {
  align-items: flex-start;
  color: var(--lightblue-color);
}
.error-text {
  width: 50vw;
  justify-content: center;
  align-items: flex-start;
  padding: 7rem 6rem;
  height: 90vh;
}
.error-text p {
  font-size: 2rem;
}
.error-heading {
  font-size: 5rem;
}
.error-icon {
  width: 50vw;
  height: 90vh;
  /* background-color: #551419; */
  align-items: center;
}
.eicon {
  transform: scale(10);
}

footer {
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 500;
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 0px;
  left: 0px;
  padding: 1.6rem 0rem;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 3vw;
  }
  .navbar {
    flex-direction: column;
    padding: 1rem 0rem;
    justify-content: center;
    margin: 0rem;
    align-items: center;
  }
  .nav-links{
   width: 100%;
  }
  .logo-div {
    margin-bottom: 1rem;
  }
  .contact-div {
    flex-direction: column;
    height: 100vh;
    padding-top: 7rem;
    /* justify-content: center; */
    /* align-items: center; */
  }
  .contact-box {
    /* background-color: #27a844; */
    width: 100%;
    padding: 0rem 3rem;
  }
  .contact-icon-box {
    display: none;
  }
  .contact-heading {
    text-align: center;
  }
  .form-items {
    align-items: center;
  }
  .contact-box form {
    align-items: center;
  }
}
